{
	"plugins": [
		[
			"module-resolver", {
				"root": ["."],
				"alias": {
					"styles": "./styles",
					"config": "./config",
					"json": "./json",
					"utils": "./utils"
				},
				"cwd": "babelrc"
			}
		],
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		],
		["wrap-in-js", { "extensions": ["css$"] }],
		"transform-inline-environment-variables",
		"babel-plugin-dotenv",
		"inline-react-svg"
	],
	"presets": [
		"./config/babel-preset"
	],
	"ignore": []
}
