html{
	height: 100%;
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	position: relative;
	min-height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-rendering: optimizeLegibility;
}
html, body{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
	text-decoration: none;
	color: #094877;
}
img{
	max-width: 100%;
}
h1{
	font-size: 1.8em;
	text-transform: uppercase;
}
::selection{
	background-color: #094877;
	color: #fff;
}